@model IEnumerable<Marker.App.ViewModels.SalaViewModel>

@{
    ViewData["Title"] = "Salas";
}

<h1 style="padding-top:50px">@ViewData["Title"]</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Nova Sala</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unidade)
            </td>
            <td class="text-right">
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a class="btn btn-info"asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                <a class="btn btn-danger"asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
